<!DOCTYPE html>
<html lang="en">

<body>
    <table>
        <tr>
            <td colspan="2">Gretings, <h3>{{username}}</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2">You appointment is Confirmed for </td>
        </tr>
        <tr>
            <td><b>Services</b></td>
            <td>{{services}}</td>
        </tr>
        <tr>
            <td><b>Date</b></td>
            <td><b> {{date}} </b></td>
        </tr>
        <tr>
            <td><b>Time</b></td>
            <td><b> {{time}} </b></td>
        </tr>
    </table>
</body>

</html>