<!DOCTYPE html>
<html lang="en">

<body>
    <table>
        <tr>
            <td colspan="2">Gretings, <h3>{{username}}</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2">You appointment is Booked for </td>
        </tr>
        <tr>
            <td>Services</td>
            <td>{{services}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td><b> {{date}} </b></td>
        </tr>
        <tr>
            <td>Time</td>
            <td><b> {{time}} </b></td>
        </tr>
    </table>
</body>

</html>